<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a id="#home" class="nav-link active" data-bs-toggle="tab">Basic information</a>
        </li>
        <li class="nav-item">
            <a id="#profile" class="nav-link" data-bs-toggle="tab">Working hours</a>
        </li>
   
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="home">
            <app-basic-information></app-basic-information>
        </div>
        <div class="tab-pane fade" id="profile">
            <p>Profile tab content ...</p>
        </div>
     
    </div>
</div>